body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input[type="text"], input[type="password"]
 {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #febd68;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #febd68;
}
.message {
    text-align: center;
    margin-top: 20px;
}
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #007185;
    font-weight: bold;
}